@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Pixelify+Sans:wght@400..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";

@theme {
    --color-desktop: #1d1b20;
    --color-topbar: #c6bfcf;

    --color-red-light-logo: #b2003e;
    --color-red-dark-logo: #791136;

    --color-button-text: #b2003e;

    --font-logo: "Source Code Pro", monospace;
    --font-pixel-number: "DotGothic16", sans-serif;
    --font-pixel-texts: "Pixelify Sans", sans-serif;
}